mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
}

.header {
    text-align: center;
}

.add-student-button {
    margin-left: 5%;
}

.full-width {
    width: 80%;
}

.add-to-project-button {
    margin-bottom: 1em;
}

.shorter-width {
    width: 65%;
    margin-right: 4%;
}

.delete-project-button {
    width: 10%;
}