<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">

    <li [ngbNavItem]=1>
        <a ngbNavLink>View the Course</a>
        <ng-template ngbNavContent>
            <app-sections></app-sections>
        </ng-template>
    </li>

    <li [ngbNavItem]=2>
        <a ngbNavLink>View Projects</a>
        <ng-template ngbNavContent>
            <app-projects></app-projects>
        </ng-template>
    </li>

    <li [ngbNavItem]=3>
        <a ngbNavLink>View Students' Info</a>
        <ng-template ngbNavContent>
            <app-student-info></app-student-info>
        </ng-template>
    </li>

    <li [ngbNavItem]=4>
        <a ngbNavLink>View Students' Contacts</a>
        <ng-template ngbNavContent>
            <app-student-contacts></app-student-contacts>
        </ng-template>
    </li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>